@font-face {
	font-family: 'helveticaNeue-Bold';
	src: url('../font/HelveticaNeue-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Light';
	src: url('../font/HelveticaNeue-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Medium';
	src: url('../font/HelveticaNeue-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Regular';
	src: url('../font/HelveticaNeue-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Thin';
	src: url('../font/HelveticaNeue-Thin.ttf') format('truetype');
}

body {
	Background-color: #f2f2f2;
}

/*********\
* screens *
\*********/

#splashscreen
{
    position: absolute;
    top: 0px;
    left: 0px;
	width: 2160px;
    height: 1440px;
    background-color: white;
}

#userSelectScreen,
#home,
#playerScreen
{
    position: absolute;
    top: 0px;
    left: 0px;
	width: 2160px;
    height: 1440px;
    display: none;
}

#dashboardScreen,
#favoriteScreen
{
    position: absolute;
    top: 160px;
    left: 0px;
	width: 2160px;
    height: 1390px;
    display: none;
}

/**************\
* splashscreen *
\**************/
#splashLogo
{
	position: absolute;
    top: 515px;
    left: 780px;
	width: 600px;
    height: 410px;
}

/*pas de loader pour le moment a voir quand les user seront chargé dynamiquement */
#splashLoader
{
	position: absolute;
    top: 1025px;
    left: 730px;
	width: 700px;
    height: 60px;
    display: none;
}

#loadPercent
{
	position: absolute;
    top: 0px;
    left: 0px;
	width: 50px;
    height: 60px;
    
    font-size: 40px;
    color: #005688;
    font-family: 'helveticaNeue-Medium';
}

#splashProgress
{
	position: absolute;
	top: 0px;
    left: 70px;
	width : 630px;
	Height : 30px;
    Background-color : #C2DBEA;
}

#splashProgressCursor
{
	position: absolute;
    left: 0px;
	width : 50px;
	Height : 30px;
    Background-color : #005688;
}

/*********************\
* user screen element *
\*********************/
#userChoice
{
	position: absolute;
    top: 510px;
    left: 210px;
	width: 1740px;
    height: 410px;
}

.userButton
{
	position: relative;
	top: 0px;
	width: 380px;
	height: 410px;

	margin-left: 25px;
	float: left;
}
.userButton img
{
    position: absolute;
    top: 30px;
    left: 40px;
    width: 300px;
    height: 300px
}
.userButton div
{
    position: absolute;
    top: 350px;
    width: 380px;
    height: 60px;
    text-align: center;
    
    font-size: 40px;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
}

/*********************\
* home screen element *
\*********************/

.menuButton
{
	position: relative;
    top: 112px;
    left: 136px;
    width: 904px;
    height: 568px;
    float: left;
}

/*********\
* top bar *
\*********/

#topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2160px;
    height: 120px;
    
    background-color : #ffffff;
    /*border-top : 4px solid #bebebe;*/
    /*TODO bug avec l'opacity du border bottom*/
	border-bottom : 4px solid #bebebe;
	
	display: none
}

.topbarButton {
    position: relative;
    top: 4px;
    left: 80px;
    width: 410px;
    height: 116px;
    float: left;
    color: #545454;
    font-family: 'helveticaNeue-Regular';
}

.topbarButton.actif {
    position: relative;
    top: 4px;
    width: 410px;
    height: 116px;
    float: left;
    color: #F86623;
    background-color : #FFFFFF;
    font-family: 'helveticaNeue-Medium';
}

.topbarImg {
    position: relative;
    float: left;
    top: 32px;
}

.topbarText {
    position: relative;
    left: 20px;
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    font-size: 36px;
    line-height: 116px
}

/*************************\
* favorite screen element *
\*************************/

.favoriteBackground
{
	position: relative;
    top: 82px;
    left: 136px;
    width: 1890px;
    background-color: #e9e9e9;
    height: 760px;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#favoriteBackgroundTitleZone
{
	position: absolute;
    top: 40px;
    left: 40px;
    width: 1810px;
    height: 50px;
}

#favoriteBackgroundTitle
{
    position: relative;
    left: 60px;
    top: -40px;
    width: 1730px;
    height: 50px;
    float: left;
    font-size: 30px;
    color: #000000;
}}

#favoriteBackgroundTitleZone img
{
	position: relative;
    width: 50px;
    height: 43px;
    float: left
}


/* attention la taille de cette div influe sur l'effet bordure grise de son contenue la hauteur doit donc etre dynamique */
/*TODO ajouter le dynamisme en question */
#favoriteBackgroundContentZone
{
	position: absolute;
    top: 110px;
    left: 40px;
    width: 1802px;
    height: 605px;
    background-color: #ffffff;
}

.favButton
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1800px;
	height: 150px;
	background-color: #ffffff;
    border-bottom : 1px solid #e9e9e9;
	margin-top: 1px;
    margin-left: 1px;
}

.favDelete
{
	position: relative;
    width: 130px;
    height: 150px;
    float: left;
}

.favDelete img
{
	position: absolute;
    width: 50px;
    height: 43px;
    top: 54px;
    left: 40px;
}

.favoriteImg
{
	position: relative;
    width: 260px;
    height: 150px;
    float: left;
}

.favoriteInfos
{
	position: relative;
	left: 38px;
    width: 1310px;
    height: 150px;
    float: left;
}

.favoriteInfos .favInfosTitle {
    color: #FF0000;
    font-size: 40px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
    line-height: 60px;

}
.favoriteInfos .favInfosSubitle {
    font-size: 26px;
    color: #000000;
    font-family: 'helveticaNeue-Light';
    line-height: 40px;    
}
.favoriteInfos .favInfosDetail {
    font-size: 26px;
    opacity: 65%;
    color: #000000;
    font-family: 'helveticaNeue-Light';
}


.favPlay
{
	position: relative;
    width: 100px;
    height: 150px;
    float: left;
}

.favPlay img
{
	position: absolute;
    width: 70px;
    height: 70px;
    top: 40px;
    left: 15px;
}

/**************************\
* dashboard screen element *
\**************************/

#dashboardTop
{
	position: absolute;
    top: 0px;
    width: 2160px;
    height: 200px;
}

#dashboardtopBack
{
	position: absolute;
    top: 0px;
    left: 96px;
    width: 210px;
    height: 200px;
}

#dashboardTopTitle
{
	position: absolute;
    top: 0px;
    left: 306px;
    width: 1548px;
    height: 200px;
    text-align: center;

    font-size: 42px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';

}

#dashboardLeft
{
	position: absolute;
    top: 200px;
    width: 1020px;
    height: 990px;
}

#dashboardRight
{
	position: absolute;
    top: 200px;
    left: 1140px;
    width: 1140px;
    height: 990px;
}

#playButton
{
	position: absolute;
    left: 96px;
    width: 871px;
    height: 490px;
}

#playButtonIcone
{
	position: absolute;
    left: 340px;
    top: 140px;
}

#dashboardTheme
{
	position: absolute;
	top: 520px;
    left: 96px;
	width: 880px;
	height: 450px;
}

#dashboardThemeTitle
{
	position: absolute;
	top: 0px;
    left: 0px;
	width: 880px;
	height: 80px;


    font-size: 19px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardThemeContent
{
	position: absolute;
    top: 80px;
    left: 0px;
    width: 880px;
    height: 250px;
}

.themeButton
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 271px;
    height: 250px;
    float: left;
}

.themeButton div
{
	position: relative;
    top: 10px;
    left: 0px;
    width: 271px;
    height: 50px;

    font-size: 19px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';	
}

#dashboardSocial
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 1140px;
    height: 70px;
}

#dashboardFavoriteControl
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    float: left;
}

#dashboardFacebookZone
{
	position: relative;
    width: 140px;
    height: 70px;
    float: left;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

#dashboardTwitterZone
{
	position: relative;
    width: 140px;
    height: 70px;
    float: left;
}

#dashboardFacebookZone img,
#dashboardTwitterZone img
{
	position: absolute;
    top: 0px;
    left: 0px;
    float: left;
}

#dashboardFacebookZone div,
#dashboardTwitterZone div
{
	position: absolute;
    top: 0px;
    left: 70px;
    width: 70px;
    height: 70px;
    float: left;
}

#dashboardSubtitle
{
	position: absolute;
    top: 90px;
    left: 0px;
    width: 1140px;
    height: 70px;

    font-size: 29px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardDetails
{
	position: absolute;
    top: 160px;
    left: 0px;
    width: 1140px;
    height: 50px;
}

#dashboardAccessInfo
{
	position: absolute;
    top: 210px;
    left: 0px;
    width: 1140px;
    height: 200px;
}

#dashboardSynopsis
{
	position: absolute;
    top: 270px;
    left: 0px;
    width: 1140px;
    height: 200px;

    font-size: 22px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardResume
{
	position: absolute;
    top: 470px;
    left: 0px;
    width: 1140px;
    height: 720px;

    font-size: 22px;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardResumeTitle {
	position: relative;
    top: 0px;
    left: 0px;
    width: 1140px;
    height: 50px;
}

#dashboardResumeContent {
	position: relative;
    top: 0px;
    left: 0px;
    width: 1140px;
    height: 670px;
}

/**************************\
* player screen element *
\**************************/

.mainPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pipPlayer {
    position: absolute;
    top: 27%;
    right: 1%;
    width: 17%;
    height: 18%;

    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;

    z-index: 2147483648;
}

.settingsVideoPipLimitScreen {
    position: absolute;
    width: 96%;
    height: 93%;
    top: 4%;
    left: 2%;

    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;

}

.videoPlayerPip {

    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;
}

.videoPipContainer {
    position: absolute;
    width: 96%;
    height: 93%;
    top: 4%;
    left: 2%;
    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;

    z-index: 2147483647;
}

.audioPlayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    z-index: 2147483648;
}

#playerUI
{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 2160px;
    height: 1440px;
    display: block;
    background: url("../media/player/player_ombre_video.png") repeat;
}

#playerTopBanner
{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 2160px;
    height: 160px;
}

#playerBottomBanner
{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 2160px;
    height: 480px;
}

#playerTopBanner div
{
    width: 140px;
    height: 140px;
}

#playerClose
{
	position: absolute;
    left: 10px;
}

#playerShare
{
	position: absolute;
    left: 870px;
}

#playerSignet
{
	position: absolute;
    left: 1010px;
}

#playerFavorite
{
	position: absolute;
    left: 1150px;
}

#playerSize
{
	position: absolute;
    right: 10px;
}

#playerOptions
{
	position: absolute;
    bottom: 320px;
    left: 0px;
    width: 2160px;
    height: 160px;
    display: block;
}

#playerProgressInfos
{
	position: absolute;
    bottom: 180px;
    left: 0px;
    width: 2160px;
    height: 140px;
    display: block;
}

#playerControls
{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 2160px;
    height: 180px;
    display: block;
}

#playerOptionSigne,
#playerOptionView,
#playerOptionSub,
#playerOptionDescription
{
    position: relative;
    text-align: center;
    top: 20px;
    width: 320px;
    height: 120px;
    display: block;
    float: left;
    margin-left: 176px;
}

#playerProgressCurrent
{
	position: absolute;
	left: 160px;
	width: 250px;
    height: 60px;
}

#playerProgressTotal
{
	position: absolute;
	right: 160px;
	width: 250px;
    height: 60px;
}

#playerProgressBar
{
	position: absolute;
	top: 80px;
	left: 160px;
	width: 1840px;
    height: 5px;
    background-color: grey;
}

#playerProgressCursor
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
    height: 5px;
    background-color: orange;
}

#playerControlVolume
{
	position: absolute;
	left: 0px;
	width: 700px;
    height: 180px;
}

#playerControlTrickMode
{
	position: absolute;
	left: 750px;
	width: 750px;
    text-align: center;
    height: 80px;
}

#playerControlRW
{
	position: absolute;
	left: 0px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlPlayPause
{
	position: absolute;
	left: 170px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlFF
{
	position: absolute;
	left: 340px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlStop
{
	position: absolute;
	left: 560px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlConfig
{
	position: absolute;
	right: 40px;
	width: 170px;
    height: 180px;
}


/*****************\
* Settings Screen *
\*****************/

.settingsBackground
{
    position: relative;
    width: 1800px;
    height: 1200px;
    top: 200px;
    left: 200px;
    background-color: #999999;
}

.settingsPipVideo
{
    width: 320px;
    height: 180px;
    top: 200px;
    left: 200px;
    background-color: #000000;
    border-color: #333333;
    border-width: 1px;
}

.settingsSlideContainer {
    position: absolute;
    top: 8%;
    height: 3%;    
    width: 25%;
    left: 44%;
    background-color: #66dd66;
}

.sizeSlide {
    width: 100%;
    height: 100%;
}

.settingsSizeFont{
    position: absolute;
    top: 140px;
    left: 20%;
    width: 20%;
    height: 3%;
    background-color: #222222;
}

.sizeFontTiny {
    background-color: #FFAAAA;
    width: 10%;
    height: 100%;
    top:0%;
    left:0%;

    font-size: 25px;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

.settingsSizeFontSample {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 70%;
    height: 100%;

    background-color: #8888FF;

    font-size: 30px;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

.sizeFontBig{
    right: 0px;
    position: absolute;
    top: 0px;
    width: 20%;
    height: 100%;

    background-color: #88FF88;

    font-size: 40px;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

