@font-face {
	font-family: 'helveticaNeue-Light';
	src: url('../font/HelveticaNeue-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Medium';
	src: url('../font/HelveticaNeue-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'helveticaNeue-Regular';
	src: url('../font/HelveticaNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ayuthaya';
    src: url('../font/Ayuthaya.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia';
    src: url('../font/Georgia.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/OpenDyslexic-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Andika';
    src: url('../font/AndBasR.ttf') format('truetype');
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  /*outline: 0 none;*/
  padding: 0;
  vertical-align: baseline;
}
hr{
	clear:both;
	margin:0;
	visibility:hidden;
}

html{
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
	width: 1280px;
	height: 720px;
}

body{
	font-family: arial, sans-serif;
	font-size: 1.6rem;
	background-color: #fbfcfc;
	position: relative;
	height: 100%;
}

body > div{
	font-size: 1em;
}

.bold{
	font-weight: bold;
}

.grey{
	color:#959595;
}

/*********\
* screens *
\*********/

#splashscreen
{
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
    height: 100%;
    background-color: white;

    display: inline-block;
    vertical-align: middle;
    content: '';

    text-align: center;
}

#userSelectScreen,
#home,
#playerScreen
{
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
    height: 100%;

    display: none;
    vertical-align: middle;
    content: '';

    text-align: center;
}

#dashboardScreen, #favoriteScreen {
  display: none;
  height: 606px;
  position: absolute;
  top: 114px;
  width: 100%;
}

/*************\
* coming soon *
\*************/
#comingSoonTitle
{
    text-align: center;
    top: 400px;
    position: relative;

    font-size: 2.5em;
    color: #AAAAAA;
    font-family: 'helveticaNeue-Regular';
    line-height: 60px;
}
#comingSoonBackBT
{
    position: relative;
    top: 450px;

    text-align: center;
    font-size: 1.875em;
    color: #000000;
    font-family: 'helveticaNeue-Regular';
    line-height: 60px;
}

/**************\
* splashscreen *
\**************/
#splashLogo
{
	/*position: absolute;*/
	width: 600px;
    height: 410px;

    margin-top: 300px;
}

/*********************\
* user screen element *
\*********************/
#userChoice
{
	position: absolute;
    top: 25%;
    left: 34%;
}

.userButton
{
	position: relative;
	top: 0px;
	width: 380px;
	height: 410px;

	margin-left: 25px;
	float: left;
}
.userButton img
{
    position: absolute;
    top: 30px;
    left: 40px;
    width: 300px;
    height: 300px
}
.userButton div
{
    position: absolute;
    top: 350px;
    width: 380px;
    height: 60px;
    text-align: center;
    
	font-size: 1.625em;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
}

/*********************\
* home screen element *
\*********************/

.menuButton
{
	position: relative;
    top: 9%;
    left: 17%;
    width: 400px;
    height: 400px;
    float: left;

    font-size: 3.0625em;
    color: #000000;
    font-family: 'helveticaNeue-Regular';

    background-color: #c9c9c9;
}
.doubleMenuButton {
    position: relative;
    top: 100px;
    left: 100px;
    width: 820px;
    height: 400px;
    float: left;

    background-color: #c9c9c9;

    font-size: 1.1875em;
    color: #000000;
    font-family: 'helveticaNeue-Regular';   

}

#homeBabdp {
}
#homePluzz {
}
#homeLeSite {
}
#homeMediatheque {
}

/*********\
* top bar *
\*********/

#topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1280px;
    height: 82px;
    
    background-color : #ffffff;
	border-bottom : 1px solid #bebebe;
	
	display: none;
}

.topbarButton {
    width: 19.5%;
    height: 100%;
    float: left;
    color: #545454;
    font-family: 'helveticaNeue-Regular';
	line-height: 80px;
	text-align: center;
}

.topbarButton.actif {
    position: relative;

    color: #F86623;
    background-color : #FFFFFF;
    font-family: 'helveticaNeue-Medium';
}

.topbarImg, .topbarText {
    vertical-align: middle;
	display: inline-block;
}

.topbarImg{
	margin-right: 5%;	
}

/*************************\
* favorite screen element *
\*************************/

.favoriteBackground
{
	position: relative;
    top: 3%;
    left: 7%;
    width: 86%;
    background-color: #f5f5f5;
    height: 470px;
}

#favoriteBackgroundTitleZone
{
	position: absolute;
    top: 22px;
    left: 3%;
    width: 93%;
    height: 50px;
}

#favoriteBackgroundTitle
{
    position: relative;
    left: 60px;
    top: -40px;
    width: 100%;
    height: 50px;
    float: left;
    color: #000000;

    font-family: 'helveticaNeue-Regular';

    line-height: 33px;
}

#favoriteBackgroundTitleZone img
{
	position: relative;
    width: 50px;
    height: 43px;
    float: left
}


/* attention la taille de cette div influe sur l'effet bordure grise de son contenue la hauteur doit donc etre dynamique */
/*TODO ajouter le dynamisme en question */
#favoriteBackgroundContentZone
{
	position: absolute;
    top: 80px;
    left: 3%;
    width: 93%;
    background-color: #ffffff;
}

.favButton {
  border-color: rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  height: 85px;
  line-height: 85px;
}
.favButton:first-child{
	border-top-width: 1px;
}

.favDelete
{
    width: 77px;
    float: left;
	text-align: center;
}

.favDelete svg
{
	display: inline-block;
	vertical-align: middle;
}

.favoriteImg {
  float: left;
  height: 100%;
}

.favoriteInfos {
  float: left;
  height: 100%;
  width: 65%;
  margin-left: 2.5%;
}

.favoriteInfos > div{
	line-height: normal;
}

.favoriteInfos .favInfosTitle {
    font-family: 'helveticaNeue-Regular';
	margin-top: 1%;

}
.favoriteInfos .favInfosSubitle {
	text-transform: uppercase;
}
.favoriteInfos .favInfosDetail {
	color: rgba(0, 0, 0, 0.5);
	margin-top: 1%;
}
.favoriteInfos .favInfosSubitle, .favoriteInfos .favInfosDetail{
    font-family: 'helveticaNeue-Light';
	font-size: 0.75em;	
}


.favPlay {
  float: left;
  height: 100%;
  margin-left: 3%;
  width: 4%;
}

.favPlay img
{
    width: 100%;
    height: auto;
	vertical-align: middle;
}

/**************************\
* dashboard screen element *
\**************************/

#dashboardTop
{
	position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

#dashboardtopBack
{
	position: absolute;
    top: 0px;
    left: 96px;
    width: 210px;
    height: 200px;
}

#dashboardTopTitle
{
	position: absolute;
    top: 0px;
    left: 16%;
    width: 70%;
    text-align: center;
	text-transform: uppercase;

    color: #000000;
    font-family: 'helveticaNeue-Regular';
	font-size: 1.7em;
}

#dashboardLeft
{
	position: absolute;
    top: 10%;
    left:5%;
    width: 45%;
    height: 65%;
}

#dashboardRight
{
	position: absolute;
    top: 10%;
    left: 52%;
    width: 47%;
    height: 100%;
}

#playButton
{
	position: relative;
    left: 0%;
    width: 100%;
    height: 328px;
	text-align: center;
}

.playButton img
{
    width: 100%;
}


#playButtonIcone
{
    position: absolute;
    left: 37%;
    top: 28%;
    width:25%;
    height:auto;
    min-height: 144px;
}

#dashboardTheme
{
	position: relative;
	top: 7%;
    left: 0%;
	width: 100%;
}

#dashboardThemeTitle
{
	position: relative;
	top: 0px;
    left: 0px;
	width: 100%;


    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardThemeContent
{
	position: relative;
    top: 5px;
    left: 0px;
    width: 100%;
}

.themeButton
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 32%;
    float: left;
    margin-right:1.3%;
}

.themeButton div
{
	position: relative;
    left: 0px;
    width: 100%;

    font-family: 'helveticaNeue-Regular';	
}
.themeButtonTitle{
	font-weight: bold;
}
.themeButton img
{
    width: 100%;
}

#dashboardSocial
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
}

#dashboardFavoriteControl
{
	position: relative;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    float: left;
}

#dashboardFacebookZone
{
	position: relative;
    width: 140px;
    height: 70px;
    float: left;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

#dashboardTwitterZone
{
	position: relative;
    width: 140px;
    height: 70px;
    float: left;
}

#dashboardFacebookZone img,
#dashboardTwitterZone img
{
	position: absolute;
    top: 0px;
    left: 0px;
    float: left;
}

#dashboardFacebookZone div,
#dashboardTwitterZone div
{
	position: absolute;
    top: 0px;
    left: 70px;
    width: 70px;
    height: 70px;
    float: left;
}

#dashboardSubtitle
{
	position: absolute;
    top: 90px;
    left: 0px;
    /*width: 100M;*/
    height: 70px;

    color: #000000;
    font-family: 'helveticaNeue-Regular';
	font-size: 1.7em;
}

#dashboardDetails
{
	position: absolute;
    top: 160px;
    left: 0px;
    width: 100%;
    height: 50px;
}

#dashboardAccessInfo
{
	position: absolute;
    top: 210px;
    left: 0px;
    width: 100%;
    height: 200px;
}

#dashboardSynopsis
{
	position: absolute;
    top: 25%;
    left: 0px;
    width: 100%;
    height: auto;

    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardResume
{
	position: absolute;
    top: 34%;
    left: 0px;
    width: 100%;
    height: auto;

    color: #000000;
    font-family: 'helveticaNeue-Regular';
}

#dashboardResumeTitle {
	position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

#dashboardResumeContent {
	position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

/**************************\
* player screen element *
\**************************/

.mainPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pipVideo {
    position: absolute;
    top: 27%;
    right: 1%;
    width: 17%;
    height: 18%;

    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;

    z-index: 1000;
}

.pipPlayer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.settingsVideoPipLimitScreen {
    position: absolute;
    width: 96%;
    height: 93%;
    top: 4%;
    left: 2%;

    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;

}

.settingsVideoLegende {
    position: absolute;
    top: 0px;
    left: 100px;

    color: #A5A5A5;
    font-family: 'helveticaNeue-Medium';

}

.settingsTitleTexts {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #FFFFFF;
    font-family: 'helveticaNeue-Regular';
}

.videoPlayerPip {

    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;
}

.videoPipContainer {
    position: absolute;
    width: 96%;
    height: 93%;
    top: 4%;
    left: 2%;
    border-style: hidden;
    border-width: 1px;
    border-color: #FFFFFF;

    z-index: 0;
}

.audioPlayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    z-index: 0;
}

#playerUI
{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../media/player/player_ombre_video.png") repeat;
}

#playerTopBanner
{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 1280px;
    height: 160px;
    z-index:100;
}

#playerBottomBanner
{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-width: 1280px;
    height: 480px;
    z-index:100;
}

#playerTopBanner div
{
    width: 50px;
    height: 50px;
    top:10px;
}

#playerClose
{
	position: absolute;
    left: 10px;
}

#playerShare
{
	position: absolute;
    left: 870px;
}

#playerSignet
{
	position: absolute;
    left: 1010px;
}

#playerFavorite
{
	position: absolute;
    left: 1150px;
}

#playerSize
{
	position: absolute;
    right: 10px;
}

#playerOptions
{
	position: absolute;
    bottom: 180px;
    left: 0px;
    width: 100%;
    min-width: 1280px;
    height: 160px;
    display: block;
}

#playerProgressInfos
{
	position: absolute;
    bottom: 180px;
    left: 0px;
    width: 100%;
    min-width: 1280px;

    height: 40px;
    display: block;
}

#playerControls
{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-width: 1280px;

    height: 145px;
    display: block;
}

#playerOptionSigne,
#playerOptionAudio,
#playerOptionSub,
#playerOptionDescription
{
    position: relative;
    text-align: center;
    top: 20px;
    width: 24%;
    height: 120px;
    display: block;
    float: left;
    margin-left: 0%;
}

.optionDropDownMenu {
    position: absolute;
    top: 600px;
    left: 130px;

    width: 180px;
    height: 100px;

    display: block;
    background-color: pink;
}
.optionDropDownMenu.hidden {
    display: none;
}
.optionDropDownMenuButton {
    position: relative;
    width: 100%;
    height: 50px;

    display: block;

    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: black;

    text-align: center;
    color: white;
    line-height: 45px;
    font-family: 'helveticaNeue-Regular';    

}

#playerProgressCurrent
{
	position: absolute;
	left: 60px;
	width: 250px;
    height: 60px;
	top: 75%;
	color: #fff;
	text-align: left;
}

#playerProgressTotal
{
	position: absolute;
	left: 72%;
	width: 250px;
    height: 60px;
	top: 75%;
	color: #fff;
	text-align: right;
}

#playerProgressBar
{
	position: absolute;
	top: 90%;
	left: 13%;
	width: 70%;
    height: 5px;
    background-color: grey;
}

#playerProgressCursor
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
    height: 5px;
    background-color: orange;
}

#playerControlVolume
{
	position: absolute;
	left: 0px;
	width: 20%;
    height: 100%;
}

#playerControlTrickMode
{
	position: absolute;
	left: 29%;
	width: 750px;
    text-align: center;
    height: 80px;
}

#playerControlRW
{
	position: absolute;
	left: 0px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlPlayPause
{
	position: absolute;
	left: 170px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlFF
{
	position: absolute;
	left: 340px;
	width: 170px;
    text-align: center;
    height: 80px;
}

#playerControlStop
{
	position: absolute;
	left: 560px;
	width: 160px;
    text-align: center;
    height: 80px;
}

#playerControlConfig
{
	position: absolute;
	right: 40px;
	width: 170px;
    height: 180px;
}


#BTdisplayUI
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#video-caption{
	height: 66% !important;
}

#video-caption *{
	font-size: inherit !important;
	text-align: center !important;
}

#video-caption div{
	width: 100%;
	display: block;
}

/*****************\
* Settings Screen *
\*****************/

#settingsScreen {
  height: 606px;
  left: 0;
  min-width: 1280px;
  position: absolute;
  top: 83px;
  width: 100%;
  display: none;
}

.settingsContainer {
  height: 100%;
  left: 295px;
  min-width: 900px;
  position: absolute;
  width: 77%;
}

.settingsMenu {
  background-color: #e7e8e8;
  height: 100%;
  left: 0;
  position: absolute;
  width: 295px;
}

.settingsMenuButton { 
    position: relative;
    top: 30%;
    left: 0px;
    height: 5%;

    text-align: left;
    padding-left: 15%;
    padding-top: 6%;

    font-family: 'helveticaNeue-Regular';

    background-color: #E8E8E8;
}
.settingsMenuButton.selected{
	color: #fff;
	background-color: #616161;
}

.textVoiceControl,
.textLecture
{
    position: relative;
    top: 84px;
    left: 10%;

    color: #B1B1B1;
    font-family: 'helveticaNeue-Regular';
}

.textVolume,
.textVitesse,
.textTimbre
 {
    position: relative;
    top: 5%;
    left: 10%;
    color: #B1B1B1;
    font-family: 'helveticaNeue-Regular';
}

.textCarateresQueLOnTapeContainer
{
    position: relative;
    top: 6%;
    left: 10%;
    width: 33%;
}

.textMotsQueLOnTapeContainer
{
    position: relative;
    top: 11%;
    left: 10%;
    width: 33%;
}

#iconeSwitchOff,
#iconeSwitchOn {
    right: 0%;
    top: 9%;
    position: absolute;
}

.textCarateresQueLOnTape,
.textMotsQueLOnTape
{
    position: relative;
    top: 28%;
    left: 0%;
    color: #B1B1B1;
    font-family: 'helveticaNeue-Regular';
}

.slideVolumeContainer,
.slideVitesseContainer,
.slideTimbreContainer {
    position: relative;
    width: 32%;
    height: 5%;
    top: 5%;
    left: 10%;
}
.slideFontSizeContainer {
    position: absolute;
    width: 32%;
    height: 5%;
    top: 30%;
    left: 50%;
}

.volumeSlide,
.vitesseSlide,
.timbreSlide {
    width: 100%;
    height: 100%;
}

.slideRangeVolume,
.slideRangeVitesse,
.slideRangeTimbre {
    position: absolute;
    left: 15%;
    top: 26%;
    width: 68%;
}
.slideRangeFontSize {
    position: absolute;
    top: -17%;
    left: 12%;
    height: 100%;
    width: 74%;
}

.activeNarrator {
    position: relative;
    top: 10%;
    left: 10%;
    width: 38%;
    height: 10%;

    background-color: #959595;
}
.activeNarratorText,
.activeMagnifyingGlassText {
    position: relative;
    top: 38%;
    left: 34%;
    width: 62%;
    height: 70%;

    text-align: left;
    color: #FFFFFF;
    font-family: 'helveticaNeue-Regular';

}
.activeMagnifyingGlass {
    position: relative;
    top: 0%;
    left: 50%;
    width: 38%;
    height: 10%;

    background-color: #959595;
}
#iconeNarrator,
#iconeMagnifyingGlass
{
    top: 12%;
    left: 10%;
    position: absolute;
}

.leftMinus {
    position: absolute;
    width: 10%;
    left: 0%;
    height: 80%;
    top:20%;

    text-align: center;
    font-size: 1.5em;
    color: #959595;
    font-family: 'helveticaNeue-Regular';
}
.rightPlus {
    position: absolute;
    width: 10%;
    height: 80%;
    top:20%;
    right:0%;

    text-align: center;
    font-size: 1.5em;
    color: #959595;
    font-family: 'helveticaNeue-Regular';
}

.leftLowercase {
    position: absolute;
    width: 10%;
    left: 0%;
    height: 80%;
    top:28%;

    text-align: center;
    font-size: 1.6rem;
    font-family: 'helveticaNeue-Regular';
}
.rightUpperCase {
    position: absolute;
    width: 10%;
    height: 80%;
    top:5%;
    right:0%;

    text-align: center;
    font-size: 3rem;
    font-family: 'helveticaNeue-Regular';
}

.textFontSize {
    position: absolute;
    top: 24%;
    left: 50%;

    text-align: left;
    color: #6D6D6D;
    font-family: 'helveticaNeue-Regular';
}


.settingsVideoBackground
{
    position: relative;
    width: 86%;
    height: 34vw;
    min-height: 435px;
    top: 5%;
    left: 6%;
    background-color: #000000;
}

.settingsPipVideo
{
    width: 320px;
    height: 180px;
    top: 200px;
    left: 200px;
    background-color: #777779;
    border-color: #333333;
    border-width: 1px;
	color: #fff;
}

.settingsPipVideo{
	line-height: 60px !important;
}

.ui-icon {
    width: 28px;
    height: 28px;
}

.ui-icon-gripsmall-center {
    background-image: url("../media/lsf/lsf_move.png");
    background-repeat:no-repeat;
    background-size:contain;
    width: 50px;
    height: 50px;

}
.ui-icon-gripsmall-diagonal-sw { 
    background-image: url("../media/lsf/lsf_size_bg.png");
}
.ui-icon-gripsmall-diagonal-nw {
    background-image: url("../media/lsf/lsf_size_hg.png");
}
.ui-icon-gripsmall-diagonal-ne {
    background-image: url("../media/lsf/lsf_size_hd.png");
}
.ui-icon-gripsmall-diagonal-se {
    background-image: url("../media/lsf/lsf_size_bd.png");
}

.ui-icon-switchVideos {
    position: absolute;
    width: 44px;
    height: 33px;

    background-color: transparent;
}

.settingsSlideContainer {
    position: absolute;
    top: 3%;
    height: 5%;    
    width: 50%;
    left: 20%;
}

.horizontalSizeSlide {
    width: 100%;
    height: 100%;
}

.settingsSizeFont{
    position: absolute;
    top: 0%;
    left: 20%;
    width: 50%;
    height: 5%;
    background-color: #222222;

    display: none;
}

.sizeFontTiny {
    background-color: #FFAAAA;
    width: 10%;
    height: 100%;
    top:0%;
    left:0%;

    font-size: 1.5625em;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

.settingsSizeFontSample {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: #E8E8E8;

    font-size: 1.875em;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

.sizeFontBig{
    right: 0px;
    position: absolute;
    top: 0px;
    width: 20%;
    height: 100%;

    background-color: #88FF88;

    font-size: 2.5em;
    color: #000000;
    font-family: 'helveticaNeue-Medium';
    text-align: center;
}

/* settings - sous-titre */
#titleSubRubric {
  font-family: "helveticaNeue-Light";
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  top: 3%;
  width: 100%;
}
.separator{
	width: 2px;
	position: absolute;
	left: 50%;
	height: 25%;
	background-color: #aaa;
}
.chooseFontText{
    position: absolute;
    left: 4%;
    color: #000;
    font-family: 'helveticaNeue-Regular';	
	font-weight: bold;
}
.chooseFontText{
    top: 9%;
}
.settingsFontSelection {
    position: absolute;
    width: 92%;
    top: 14%;
    left: 4%;

    background-color: transparent;
}

.activeFont {
    display: inline-block;
    width: 20%;
    height: 65%;
    top:35%;
	color: rgba(0, 0, 0, 0.6);
}
.activeFont.selected{
	text-decoration: underline;
	color: #000;
}

#settingsPipText.fontArial, #video-caption.fontArial span{
	font-family: Arial !important;
}
#settingsPipText.fontOpenDyslexic, #video-caption.fontOpenDyslexic span{
	font-family: OpenDyslexic !important;
}
#settingsPipText.fontAndika, #video-caption.fontAndika span{
	font-family: Andika !important;
}
#settingsPipText.fontHelvetica, #video-caption.fontHelvetica span{
	font-family: Helvetica !important;
}
#settingsPipText.fontLexia, #video-caption.fontLexia span{
	font-family: Lexia !important;
}
.settingsFontColorSelection, .settingsFontBGColorSelection, #separator{
	top: 20%;
}
.settingsFontColorSelection, .textFontSizeSubtitle{
    left: 54%;	
}
.settingsFontColorSelection {
    position: absolute;
}
.settingsFontColorSelectionTitle {
    position: absolute;
    width: 100%;
    height: 20%;
    top:0%;
    left:0%;

    font-family: 'helveticaNeue-Regular';
	font-weight: bold;
}
.settingsFontColorSelectionCell {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 28px;
  margin-left: 20px;
  margin-top: 50px;
  width: 28px;
}
.settingsFontColorSelectionCell:nth-child(2){
	margin-left: 0;
}
.settingsFontColorSelectionCell.selected{
	width: 58px;
	height: 58px;
	margin-top: 36px;
	border-color: #000;
}
.settingsFontColorSelectionCellMulti{
	background: url("../media/multicolor.png") no-repeat;
	background-size: contain;
}
.settingsFontColorSelectionCellWhite {
    background-color: #FFFFFF;
}
.settingsFontColorSelectionCellYellow {
    background-color: #FEBF00;
}
.settingsFontColorSelectionCellBlue {
    background-color: #64D7FF;
}
#settingsPipText.whiteColor, #video-caption.whiteColor span{
	color: #FFFFFF !important;
}
#settingsPipText.yellowColor, #video-caption.yellowColor span{
	color: #FEBF00 !important;
}
#settingsPipText.blueColor, #video-caption.blueColor span{
	color: #64D7FF !important;
}
.settingsFontBGColorSelection, .settingsFontColorSelection{
  width: 46%;	
}
.settingsFontBGColorSelection {
  left: 4%;
  position: absolute;
}
.settingsFontBGColorSelectionCell {
    float: left;
    width: 28px;
    height: 28px;

    margin-left: 20px;
    margin-top: 50px;

    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
}
.settingsFontBGColorSelectionCell:nth-child(2){
	margin-left: 0;
}
.settingsFontBGColorSelectionCell.selected{
	width: 58px;
	height: 58px;
	margin-top: 36px;
	border-color: #000;
}
.settingsFontColorSelectionCellBlack{
	background-color: rgba(0,0,0,0.8);
}
.settingsFontColorSelectionCellWhite{
	background-color: rgba(255,255,255,0.8);
}
#settingsPipText.blackBGColor.opacity_0, #video-caption.blackBGColor.opacity_0 span{
	background-color: rgba(0,0,0,0) !important;
}
#settingsPipText.blackBGColor.opacity_025, #video-caption.blackBGColor.opacity_025 span{
	background-color: rgba(0,0,0,0.25) !important;
}
#settingsPipText.blackBGColor.opacity_05, #video-caption.blackBGColor.opacity_05 span{
	background-color: rgba(0,0,0,0.5) !important;
}
#settingsPipText.blackBGColor.opacity_075, #video-caption.blackBGColor.opacity_075 span{
	background-color: rgba(0,0,0,0.75) !important;
}
#settingsPipText.blackBGColor.opacity_1, #video-caption.blackBGColor.opacity_1 span{
	background-color: rgba(0,0,0,1) !important;
}
#settingsPipText.whiteBGColor.opacity_0, #video-caption.whiteBGColor.opacity_0 span{
	background-color: rgba(255,255,255,0) !important;
}
#settingsPipText.whiteBGColor.opacity_025, #video-caption.whiteBGColor.opacity_025 span{
	background-color: rgba(255,255,255,0.25) !important;
}
#settingsPipText.whiteBGColor.opacity_05, #video-caption.whiteBGColor.opacity_05 span{
	background-color: rgba(255,255,255,0.5) !important;
}
#settingsPipText.whiteBGColor.opacity_075, #video-caption.whiteBGColor.opacity_075 span{
	background-color: rgba(255,255,255,0.75) !important;
}
#settingsPipText.whiteBGColor.opacity_1, #video-caption.whiteBGColor.opacity_1 span{
	background-color: rgba(255,255,255,1) !important;
}
.slideSizeRange {
    position: absolute;
    left: 6%;
    top: 16%;
    width: 100px;
    height: 300px;
    background-color: transparent;
}

.textFontSizeSubtitle {
  font-family: "helveticaNeue-Regular";
  font-weight: bold;
  position: absolute;
  text-align: left;
}
.slideFontSizeSubtitleContainer, .slideOpacityContainer{
    position: absolute;
    top: 44%;	
    height: 5%;
    width: 42%;
}
.slideFontSizeSubtitleContainer {
  left: 53%;
  color: #000;
}
.textOpacity, .textFontSizeSubtitle{
	top: 39%;
}
.textOpacity {
  font-family: "helveticaNeue-Regular";
  font-weight: bold;
  left: 4%;
  position: absolute;
}
.slideOpacityContainer {
    left: 4%;
}
.blackDIV, .transparentUppercaseDIV{
    position: absolute;
    width: 10%;
    height: 80%;
    top:5%;
	margin-top: 5px;	
}
.blackDIV {
    left: 0;
	border: 1px solid #000;
}
.transparentUppercaseDIV {
    right:0;
	background-color: #000;
}
.slideRangeOpacity {
    position: absolute;
    top: -17%;
    left: 16%;
    height: 100%;
    width: 67%;
}
.horizontalOpacitySlide {
    width: 100%;
    height: 100%;
}

.settingsVideoBackgroundSubtitles{
    position: relative;
    width: 91.5%;
    height: 38%;
    min-height: 35%;
    top: 55%;
    left: 4%;
    background-color: #e7e8e8;
	border-color: #aaa;
	border-style: solid;
	border-width: 1px;
}

.settingsVideoPipLimitScreenSubtitles{
    position: absolute;
    width: 96%;
    height: 93%;
    top: 4%;
    left: 2%;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

.settingsTitleTextsSubtitles {
	text-align: center;
}

/*.slideLowerCase {
    position: absolute;
    top:0%;
    left:0%;
    height: 30px;
    width: 100%;

    text-align: center;
    font-size: 1.5em;
    color: #959595;
    font-family: 'helveticaNeue-Regular';

    background-color: transparent;
}
.slideUpperCase {
    position: absolute;
    bottom:0%;
    left:0%;
    height: 50px;
    width: 100%;

    text-align: center;
    font-size: 44px;
    color: #959595;
    font-family: 'helveticaNeue-Regular';

    background-color: transparent;

}
.slideSizeContainer {
    position: absolute;
    background-color: transparent;
    top: 25px;
    width: 9%;
    height: 67%;
    left: 50%;
}*/

/*************\
* Text Helper *
\*************/

#textHelper {
    display: none;

    position: absolute;
    background-color: #141414;
    opacity: 0.95;

    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;

    z-index :10000;
}

.textHelperButton {
    background-color: transparent;
    position: absolute;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.textHelperContainer {
    position: absolute;
/*
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
*/
    text-align: center;
    color: #FFFFFF;
    font-family: 'helveticaNeue-Regular';
}

.textHelperButtonClose {
    position: absolute;
    background-image: url("../media/player/inte_close.png");
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;

}