.slider-horizontal input[type=range] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	background-color: transparent;
}
.slider-horizontal input[type=range]:focus {
	outline: none;
}
.slider-horizontal input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 0 0 0 #000000;
	background: #C4C4C4;
	border-radius: 0;
	border: 0 solid #000000;
}
.slider-horizontal input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 2px #808080;
	border: 1px solid #bababa;
	height: 32px;
	width: 10px;
	border-radius: 0;
	background: #FFFFFF;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -15.5px;
}
.slider-horizontal input[type=range]:focus::-webkit-slider-runnable-track {
	background: #C4C4C4;
}
.slider-horizontal input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 0 0 0 #000000;
	background: #aaa;
	border-radius: 0;
}
.slider-horizontal input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 2px #808080;
	border: 1px solid #bababa;
	height: 32px;
	width: 10px;
	border-radius: 0;
	background: #FFFFFF;
	cursor: pointer;
}
.slider-horizontal input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.slider-horizontal input[type=range]::-ms-fill-lower {
	background: #C4C4C4;
	border: 0 solid #000000;
	border-radius: 0;
	box-shadow: 0 0 0 #000000;
}
.slider-horizontal input[type=range]::-ms-fill-upper {
	background: #C4C4C4;
	border: 0 solid #000000;
	border-radius: 0;
	box-shadow: 0 0 0 #000000;
}
.slider-horizontal input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 2px #808080;
	border: 1px solid #bababa;
	height: 100%;
	width: 10px;
	border-radius: 0;
	background: #FFFFFF;
	cursor: pointer;
}
.slider-horizontal input[type=range]:focus::-ms-fill-lower {
	background: #C4C4C4;
}
.slider-horizontal input[type=range]:focus::-ms-fill-upper {
	background: #C4C4C4;
}