@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/OpenDyslexic-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Andika';
    src: url('../font/AndBasR.ttf') format('truetype');
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent none repeat scroll 0 0;border:0 none;font-size:100%;margin:0;outline:0 none;padding:0;vertical-align:baseline}
a:focus{outline:0 none}
hr{clear:both;margin:0;visibility:hidden}
.oneline{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
html{font-size:62.5%;width:1280px;height:720px}
body{font-family:'Raleway',sans-serif;font-size:1.6rem;background-color:#fbfcfc;position:relative;height:100%;overflow: hidden;}
main{height: 100%;}
main > div{font-size:1em}
.bold{font-weight:800}
.grey{color:#959595}
.center{text-align:center}
#sections-container, #simplified-mode-container{position:relative;width:100%;height:100%}
#sections-container section, #simplified-mode-container section{height:100%;width:100%;display:none}
#simplified-mode-container, #profils-list-container{display:none;box-sizing:border-box;padding-top:80px;font-size:1em}
#simplified-mode-container a:hover, .back-button:hover, .switch-btn:hover{cursor:pointer;font-weight:600}
.manual-centering .list-container, .manual-centering > a{margin-left:592px}
.manual-centering .list-container{margin-top:120px}
.menu-item,.sm .buttons-container a, .back-button,.user:hover a{font-weight:400}
.sm.epg-fiche .manual-centering > a.back{position:absolute;bottom:75px}
.sm .back,.sm .home,.sm .back-to-home-button, #logout-btn-sm,.sm .back-button{color:rgba(0,0,0,0.5)}
.menu-item{margin-bottom:40px;list-style-type:none}
.menu-item:first-letter,h1:first-letter,h2:first-letter{text-transform:uppercase}
.menu-item:last-child{margin-bottom:13%}
.menu-item:hover{list-style-type:circle}
.menu-item.selected{font-weight:600;text-decoration:underline}
.sm .menu-item.disabled a{background-color: #000;color: #fff}
#simplified-mode-container section > a{display:block}
.section-with-topbar{box-sizing:border-box;padding-top:70px}
#full-synopsis, #videoPlayerContainer, #in-construction{position:absolute;height:100%;width:100%;top:0;left:0}
a.switch-btn{position:absolute;top:45px;left:45px;padding:10px;margin-left:0}
.btn{cursor:pointer}
.hidden{display:none}
.opaque{opacity: 0.5}
#appVersion{position:absolute;text-align:center;width:100%}
#appVersion{bottom:20px}
.logo{width: 60px;}

/* GESTION DU MASQUAGE/AFFICHAGE DES ECRANS */
body:not(.sm).apps-list #apps-list-container, body.in-construction #in-construction{display:table}
body.splashscreen #splashscreen,body.profils-list #profils-list-container,body.sm.apps-list #apps-list-container-sm,body.sm.app-options #app-options-container,body.app-playlists #app-playlists,body.sm.my-videos-options #my-videos-options-container,body.sm.app-playlists #app-playlists-sm,body.sm.options-favorites #options-favorites-container,body.sm.options-signets #options-signets-container,body.sm.options-history #options-history-container,body.sm.epg-fiche #epg-fiche-container-sm,body.epg-fiche #epg-fiche-container,body.full-synopsis #full-synopsis,body.player #videoPlayerContainer,body.settings #settings,body.sm.settings #settings-sm-container,body.sm.settings-audio-menu #settings-audio-sm-container,body.sm.settings-interface-menu #settings-interface-sm-container,body.sm.settings-subtitles-menu #settings-subtitles-sm-container,body.sm.settings-ls #settings-ls-sm-container,body.sm.settings-subtitles-font-family #settings-subtitles-font-family-sm-container,body.sm.settings-audio-spatialisation-mode #settings-audio-spatialisation-mode-sm-container,body.sm.settings-audio-spatialisation #settings-audio-spatialisation-sm-container,body.sm.settings-font-size #settings-font-size-sm-container,body.sm.settings-subtitles-color #settings-subtitles-color-sm-container,body.sm.settings-subtitles-bgcolor #settings-subtitles-bgcolor-sm-container,body.sm.settings-subtitles-pip #settings-subtitles-pip-sm-container, body.search #search, body.search.full-result #full-results-container, body.search.terms-search #terms-search-container, body.sm.settings-audio-comments-level #settings-audio-comments-level-sm-container{display:block}
body.splashscreen #sections-container,body.sm:not(.profils-list) #sections-container{display:none}

/* GESTION DU MASQUAGE/AFFICHAGE DU MENU */
body.profils-list nav, body.apps-list nav, body.in-construction nav, body.full-synopsis nav, body.player nav{display:none}
body.sm:not(.profils-list) #simplified-mode-container{display:block}
section .list{display:table-cell;vertical-align:middle;text-align:center}

/* TOPBAR */
nav, #back-to-player-button-container{height:69px}
nav{background-color:#fff;border-bottom:1px solid #bebebe;position:absolute;width:100%}
.topbarButton{color:#545454;float:left;font-weight:500;height:70px;line-height:70px;text-align:center;width:18.5%;list-style:none}
.topbarButton.sel{background-color:#c8c8c8}
.topbarImg, .topbarText{display:inline-block;vertical-align:middle}
.topbarImg{margin-right:5%;width:32px}

/* LISTE DES PROFILS */
#profils-list-container-2{display:table;width:100%;margin-top:117px}
#profils-list .user{display:inline-block;vertical-align:middle;width:240px;padding-top:240px;margin-left:180px;background:rgba(0,0,0,0) url(../img/avatar.png) no-repeat scroll 0 0 / contain;font-weight:300;font-size:1.625em}
#profils-list .user:first-child{margin-left:0}

/* LISTE DES APPLICATIONS */
#apps-list .app{display:inline-block;vertical-align:middle;width:225px;margin-right:12px;margin-bottom:12px;background-color:#c9c9c9}
#apps-list .app a{display:block}
.app img{width:100%;height:auto}
h1, h2{text-align:center}
h1{font-weight:300;font-size:1.9em}
h2{font-size:1.6em;font-weight:600}

/* EN CONSTRUCTION */
#in-construction{text-align:center;display:none}
#in-construction .content{display:table-cell;vertical-align:middle}
#in-construction p{line-height:1.5;margin-bottom:70px}
#back-button-in-construction-section{background-color:#959595;box-shadow:0 0 3px rgba(0,0,0,1);color:#fff;cursor:pointer;display:inline-block;font-size:1.5em;height:70px;line-height:70px;padding:0 30px;transition:all .2s}
#back-button-in-construction-section:hover{box-shadow:0 0 8px rgba(0,0,0,1)}

/* SPLASH SCREEN */
#splashscreen{background:url(../img/logo.png) no-repeat center center;text-align:center;height:100%;width:100%;display:none}

/* PLAYLISTS D'UNE APP */
#app-playlists{overflow: scroll;overflow-x: hidden;}
.playlist{background-color:#f5f5f5;left:7%;width:86%;margin:0 auto;padding:20px 40px 40px;box-sizing:border-box}
.playlist:first-child{margin-top:38px}
.playlist-title{height:50px;line-height:50px}
.playlist-title > div{display:inline-block;vertical-align:middle}
.playlist-icon{margin-right:5px}
.playlist-icon svg, .delete-icon svg{display:inline-block;vertical-align:middle;width:36px;margin-top:-5px}
.playlist-text{font-weight:500}
.playlist-list{background-color:#fff;margin-top:10px}
.item-playlist{border-color:rgba(0,0,0,0.2);border-style:solid;border-width:0 1px 1px;height:85px;line-height:85px}
.item-playlist:first-child{border-top-width:1px}
.item-playlist > div, .item-playlist .thumb{float:left;height:100%}
.item-playlist .thumb{width: 151px;line-height: 20px;}
.item-playlist .delete{width:77px;text-align:center}
.item-playlist .delete-icon{display:inline-block;vertical-align:middle}
.item-playlist .item-infos{margin-left:2.5%;width:65%}
.item-playlist .item-infos > div, .search-result .item-infos > div{line-height:normal}
.item-playlist .item-infos .title{font-weight:500;margin-top:1%}
.item-playlist .item-infos .subtitle{text-transform:uppercase}
.item-playlist .item-infos .subtitle, .item-playlist .item-infos .infos{font-weight:300;font-size:.75em}
.item-playlist .item-infos .infos{color:rgba(0,0,0,0.5);margin-top:.4%}
.item-playlist .play{margin-left:3%;width:4%}
.item-playlist .play img{vertical-align:middle;width:45px}
.sm .buttons-container, #epg-fiche-container .back-button, #epg-fiche-container h1, #search .back-button{height:25px;line-height:25px}
.sm .buttons-container{margin-top:30px;position:relative}
.sm .buttons-container a, .back-button{position:absolute;height:100%;background-repeat:no-repeat;background-size:contain}
.back-button, .sm .buttons-container .prev{padding-left:30px;background-position:left center}
.back-button{left:45px;background-image:url(../img/fleche_retour.png)}
.back-button:hover{cursor:pointer}
.sm .buttons-container .prev{background-image:url(../img/fleche_precedent.png);left:681px}
.sm .buttons-container .next{right:45px;padding-right:30px;background-image:url(../img/fleche_suivant.png);background-position:right center}
.playlist-sm ul{padding:35px 50px 0;list-style-type:none}
.playlist-sm .item{width:500px;height:90px;float:left;margin-bottom:30px;padding-left:50px;padding-top:10px;box-sizing:border-box}
.playlist-sm .item:hover{background:rgba(0,0,0,0) url(../img/selecteur.png) no-repeat scroll 10px 0}
.playlist-sm .item:nth-child(even){margin-left:100px}
.playlist-sm .item .title{font-weight:600}
.playlist-sm .item .type, .program-date{font-family:arial,sans-serif;font-weight:300;color:rgba(0,0,0,0.5)}
.playlist-sm .item .title, .playlist-sm .item .subtitle{margin-bottom:10px}

/* FICHE EPG */
#epg-fiche-container-sm h1{font-weight:600}
#epg-fiche-container-sm h2{text-transform:uppercase;margin-top:20px;font-weight:300}
.sm.epg-fiche #epg-fiche-container-sm .home{position:absolute;bottom:26px}
#epg-fiche-container{padding-left:45px;padding-right:45px}
#epg-fiche-container > .back-button, #epg-fiche-container > h1{margin-top:38px}
#epg-fiche-container h1{text-transform:uppercase}
#epg-fiche-container > div{float:left;margin-top:40px}
#thumb-and-related-content-container{width:515px}
#thumb-container{position:relative;text-align:center;height:290px}
#media-thumb{width:100%;height:100%}
#play-icon{position:absolute;top:93.5px;left:206px;width:20%}
#related-content-container{margin-top:18px}
#related-content-container > .title, #epg-fiche-container .label, #full-synopsis .label{text-transform:uppercase;height:48px;line-height:48px;font-weight:500}
#related-content .item{float:left;margin-right:2%;width:32%}
#related-content .item:last-child{margin-right:0}
#related-content .item img{width:100%;height:93px}
#related-content .item > div{line-height:1.5}
#related-content .item .title{font-weight:600}
#synopsis-and-social-icons-container{width:630px;margin-left:45px}
#social-icons{height:20px}
#social-icons .icon{float:left;border-right:1px solid grey;text-align:center;height:100%;width:70px}
#social-icons .icon img{height:100%}
#social-icons .icon:first-child{text-align:left;width:45px}
#social-icons .icon:last-child{border-right:0 none}
#synopsis-and-social-icons-container h2{font-size:1.8em;text-align:left;margin-top:25px;    padding: 1% 0;}
.program-date{margin-top:10px;text-transform:uppercase}
#video-compatibilities-list{height:24px;margin:10px 0}
.compatibility{float:left;height:100%;margin-right:14px;background-repeat:no-repeat;background-size:contain;width:33px}
.compatibility.audio{background-image:url(../img/compatibilities/Langue_petit.png)}
.compatibility.ls{background-image:url(../img/compatibilities/LSF_petit.png)}
.compatibility.subtitle{background-image:url(../img/compatibilities/ST_petit.png)}
.compatibility.ad{background-image:url(../img/compatibilities/AD_petit.png)}
.synopsis-container{overflow:hidden}
.synopsis{line-height:1.5;overflow-y:auto}
#epg-fiche-container .synopsis{height:320px}

/* RESUME EN FULLSCREEN */
#full-synopsis{display:none;box-sizing:border-box;padding:136px 45px 0;font-size:1.1em}
#full-synopsis .back-button{color:rgba(0,0,0,0.5);font-size:1.7em;height:45px;line-height:45px;padding-left:40px;top:45px}
#full-synopsis h2{text-align:left;font-size:2.2em}
#full-synopsis .program-date{color:inherit;font-size:1.1em}
#full-synopsis .label{font-size:1.6em;margin-top:30px}
#full-synopsis .synopsis{font-size:1.25em;height:438px}

/* PLAYER */
#videoPlayerContainer{display:none;background-color:#000;font-family:arial,sans-serif}
#videoPlayerContainer video{position:absolute;top:0;left:0;width:100%;height:100%}
#video-caption{height:33%!important}
#playerUI{position:absolute;top:0;width:100%;height:100%;background:rgba(0,0,0,0) url(../img/player/degrade.png) repeat-x scroll 0 0 / contain}
#playerTopBanner, #playerBottomBanner{width:100%;position:absolute;z-index:1}
#playerTopBanner{top:0}
#playerClose{position:absolute;left:45px;top:45px}
.closeBtn{width:50px;height:50px}
.closeBtn img{width:100%;height:100%}
#playerBottomBanner{bottom:0;height:265px}
#playerBottomBanner > div{position:absolute}
#playerOptions{bottom:220px;left:0;padding-left:190px;height:42px}
#playerOptions > div{position:relative;width:271px;height:100%;float:left}
#playerOptions > div > div{float:left;height:100%}
#playerOptions .compatibility{width:58px}
.playerOptionValue{line-height:44px;color:#fff;font-size:1.2em}
#playerOptions svg{height:37px;margin-top:1px}
#playerProgressInfos{bottom:145px;width:100%}
#playerProgressInfos > div{position:absolute}
#playerProgressCurrent, #playerProgressTotal{bottom:17px;color:#fff}
#playerProgressTotal{right:96px}
#playerProgressBar, #playerProgressCurrent{left:96px}
#playerProgressBar, .volume-control-ctn .ui-slider{background:rgba(0,0,0,0) url(../img/volume/bg-track.png) repeat scroll left top;border-color:#333 #333 #777;border-style:solid;border-width:1px;height:4px}
#playerProgressBar{bottom:0;width:1088px}
#playerProgressBar, #playerBottomBanner .ui-slider-range, .volume-control-ctn .ui-slider{border-radius:25px}
/*#playerProgressCursor{background-color:#fff;height:100%;width:0}*/
#playerControlVolume{left:45px}
#playerControls{bottom:26px;height:54px;width:100%}
#playerControls > div{height:100%;position:absolute;line-height:54px}
.volume-control-ctn .ui-slider{position:relative;width:267px;margin-right:10px;vertical-align:middle}
.tooltip{position:absolute;display:none;top:-9px;height:20px;color:#fff;text-align:center;font:10pt Tahoma,Arial,sans-serif;border-radius:3px;border:1px solid #333;box-shadow:1px 1px 2px 0 rgba(0,0,0,.3);box-sizing:border-box;background:linear-gradient(top,rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);margin-left:2px;padding: 0 5px;}
.volume-control-ctn > div, .volume-control-ctn .icon{display:inline-block}
.volume-control-ctn .icon{width:25px;height:25px;background:url(../img/volume/volume.png) no-repeat 0 -50px;vertical-align:middle}
.volume-control-ctn .volume-mute{background-position:0 0}
#playerBottomBanner .ui-slider-handle{width:25px;height:25px;cursor:pointer;background:url(../img/volume/handle.png) no-repeat 50% 50%;font-weight:700;color:#1C94C4;top:-10px;margin-left:-12px;border:0 none}
#playerBottomBanner .ui-slider-range{background:#fff;position:absolute;border:0;top:0;height:100%}
#playerControlVolume .ui-slider-range{background:url("../img/volume/bg.png") no-repeat 0 center;}
#playerControlTrickMode{left:556.5px}
#playerControlTrickMode > div{display:inline-block;margin-left:15px;vertical-align:middle;background-repeat:no-repeat;background-size:contain}
#playerControlFF, #playerControlRW{width:37px;height:37px}
#playerControlRW{background-image:url(../img/player/controle_btn_previous.png)}
#playerControlFF{background-image:url(../img/player/controle_btn_next.png)}
#playerControlPlayPause{height:100%;width:54px;background-image:url(../img/player/controle_btn_play.png)}
#playerControlPlayPause.pause{background-image:url(../img/player/controle_btn_pause.png)}
#playerControlTrickMode #playerControlRW{margin-left:0}
#playerControlFF{margin-left:15px}
#playerControlConfig{right:45px}
#video-caption *{font-size:inherit!important;text-align:center!important}
#video-caption div{width:100%;display:block}
#playerUI .ui-ls{height:100%}
#pipContainer{border-style:hidden}
.optionDropDownMenu{position:absolute;bottom:280px;left:130px;width:180px;transition: left 500ms;}
.optionDropDownMenu.hidden{display:none}
.optionDropDownMenuButton{position:relative;width:100%;height:50px;display:block;background-color:#000;text-align:center;color:#fff;line-height:45px;font-weight:500}
#optionDropDownMenu .optionDropDownMenuButton{border-top: 1px solid #fff;}
#optionDropDownMenu .optionDropDownMenuButton:last-child{border-bottom: 1px solid #fff;}
.optionDropDownMenuButton:hover{cursor:pointer;font-weight:600}
#playerControlADVolume{right: 153px;}
.volume-control-ctn .volume-min{background-position:0 -25px}
.label-slider{position: absolute;bottom: 50px;color: #fff;}

/* SETTINGS */
#back-to-player-button-container{position:absolute;background-color:#000;width:100%;line-height:70px;text-align:right;top:0}
#back-to-player-button{display:inline-block;vertical-align:middle;margin-right:45px}
#subrubrics-container, #settings-options-container{float:left;height:100%}
#subrubrics-container{width:296px;background-color:#e7e8e8;line-height:637px}
#subrubrics-container ul{display:inline-block;vertical-align:middle;width:100%}
.subrubric{height:50px;line-height:50px;padding-left:45px;margin-bottom:15px;cursor:pointer}
.subrubric:last-child{margin-bottom:0}
#settings-options-container{width:984px;padding:38px 50px 0;box-sizing:border-box}
#settings-options-container > div{display:none}
#settings.interface #interface-settings, #settings.audio #audio-settings, #settings.subtitles #subtitles-settings, #settings.ls #ls-settings{display:block}
#audio-settings .title-subrubric, #ls-settings .title-subrubric{margin-bottom:30px}
#settings.interface li.interface, #settings.audio li.audio, #settings.subtitles li.subtitles, #settings.ls li.ls{color:#fff;background-color:#616161;font-weight:600}
.title-subrubric{font-weight:300;font-size:1.2em;text-align:center}
#settings-options-container .label{color:#000;font-weight:500;margin:30px 0 15px}
#settings-options-container .left-col, #separator{float:left}
#separator{width:2px;height:180px;background-color:#e7e8e8;margin-left:36px;margin-top:26px}
#settings-options-container .right-col{float:right}
#settings-options-container .col, .spatialisation-control{width:405px}
.option-slider{font-weight:500;height:30px;line-height:30px}

/* Settings - Interface */
.option-slider > div:not(.label){float:left;height:100%;box-sizing:border-box}
.min-value, .max-value{line-height:30px;width:8%}
.min-font-size{font-size:1.6rem}
.max-font-size{font-size:3.4rem;}
.max-value{text-align:right}
.slider-horizontal{height:100%}
.slider-horizontal.font-size{width:84%}
.slider-horizontal .ui-slider a{margin-left: -6px;}
.sm .slider-horizontal{width: 70%;}
.sm .min-value, .sm .max-value{width: 15%;}

/* Settings - Sous-titres */
.font-family{float:left;width:20%;height:65%;color:rgba(0,0,0,0.6);cursor:pointer;text-align: center;}
.Arial, #video-caption.Arial span{font-family:Arial!important}
.OpenDyslexic, #video-caption.OpenDyslexic span{font-family:OpenDyslexic!important}
.Andika, #video-caption.Andika span{font-family:Andika!important}
.Helvetica, #video-caption.Helvetica span{font-family:Helvetica!important}
.Verdana, #video-caption.Verdana span{font-family:Verdana!important}
.font-family.selected{text-decoration:underline;color:#000}
.col-container{margin-bottom:30px}
#subtitles-settings .option-color{height:54px;line-height:54px}
.option-color > div{display:inline-block;width:28px;height:28px;margin-left:20px;border:solid 1px #aaa;vertical-align:middle;box-shadow:0 0 2px #aaa;transition:all .2s}
.option-color > div:hover{cursor:pointer}
.option-color .color.white{background-color:rgba(255,255,255,0.8)}
.option-color .color.black{background-color:#000}
.option-color .transparent{background:url(../img/multicolor.png) no-repeat;background-size:contain}
.option-color .color.yellow{background-color:#FEBF00}
.option-color .color.blue{background-color:#64D7FF}
.option-color .color:first-child{margin-left:0}
.option-color .color.selected{width:52px;height:52px;border-color:#aaa;box-shadow:0 0 20px #aaa}
#subtitles-settings .option-color .color.selected{box-shadow:0 0 9px #aaa}
.transparent-opacity, .darkest-opacity{width:10%}
.option-slider .transparent-opacity, .option-slider .darkest-opacity{height:70%}
.transparent-opacity{border:1px solid #000;margin-right:5%;background-color:#e7e8e8}
.darkest-opacity{background-color:#000;margin-left:5%}
#subtitles-settings .slider-horizontal{width:70%}
.ui-subtitles, .ui-ls{position:relative;box-sizing:border-box;padding:17.6719px}
.ui-subtitles, .pip-limit{border:#aaa solid 1px}
.ui-subtitles{width:884px;height:227px}
.pip-video{position:relative;box-shadow:0 0 5px #000;background-color:#4d4d4d}
.ui-subtitles .pip-video{left:0;width:100%;height:33%;text-align:center;line-height:60px}
.pip-text{display:inline-block;vertical-align:middle;line-height:normal;color:#fff;overflow: hidden;max-height: 100%;}
.ui-icon{width:20px;height:20px;background-size:contain}
.ui-icon-gripsmall-diagonal-se{background-position:0 0}
.ui-resizable-ne, .ui-resizable-se{right:-11px}
.ui-resizable-sw, .ui-resizable-nw{left:-11px}
.ui-resizable-se, .ui-resizable-sw{bottom:-11px}
.ui-resizable-ne, .ui-resizable-nw{top:-11px}
.ui-icon-gripsmall-center{background:url(../img/lsf/lsf_move.png) no-repeat center;width:100%;height:100%;position:absolute;top:0}
.ui-subtitles .ui-icon-gripsmall-center{background-size:2% auto}
.ui-icon-gripsmall-diagonal-sw{background-image:url(../img/lsf/lsf_size_bg.png)}
.ui-icon-gripsmall-diagonal-nw{background-image:url(../img/lsf/lsf_size_hg.png)}
.ui-icon-gripsmall-diagonal-ne{background-image:url(../img/lsf/lsf_size_hd.png)}
.ui-icon-gripsmall-diagonal-se{background-image:url(../img/lsf/lsf_size_bd.png)}
.pip-text.blackBGColor.opacity_0, #video-caption.blackBGColor.opacity_0 span{background-color:rgba(0,0,0,0)!important}
.pip-text.blackBGColor.opacity_025, #video-caption.blackBGColor.opacity_025 span{background-color:rgba(0,0,0,0.25)!important}
.pip-text.blackBGColor.opacity_05, #video-caption.blackBGColor.opacity_05 span{background-color:rgba(0,0,0,0.5)!important}
.pip-text.blackBGColor.opacity_075, #video-caption.blackBGColor.opacity_075 span{background-color:rgba(0,0,0,0.75)!important}
.pip-text.blackBGColor.opacity_1, #video-caption.blackBGColor.opacity_1 span{background-color:rgba(0,0,0,1)!important}
.pip-text.whiteBGColor.opacity_0, #video-caption.whiteBGColor.opacity_0 span{background-color:rgba(255,255,255,0)!important}
.pip-text.whiteBGColor.opacity_025, #video-caption.whiteBGColor.opacity_025 span{background-color:rgba(255,255,255,0.25)!important}
.pip-text.whiteBGColor.opacity_05, #video-caption.whiteBGColor.opacity_05 span{background-color:rgba(255,255,255,0.5)!important}
.pip-text.whiteBGColor.opacity_075, #video-caption.whiteBGColor.opacity_075 span{background-color:rgba(255,255,255,0.75)!important}
.pip-text.whiteBGColor.opacity_1, #video-caption.whiteBGColor.opacity_1 span{background-color:rgba(255,255,255,1)!important}
.pip-text.whiteColor, #video-caption.whiteColor span{color:#FFF!important}
.pip-text.yellowColor, #video-caption.yellowColor span{color:#FEBF00!important}
.pip-text.blueColor, #video-caption.blueColor span{color:#64D7FF!important}
.sm .option-slider, .sm .option-color{margin:100px auto 0}
.sm .option-slider{width:490px}
.sm .option-color{text-align:center;height:117px;line-height:117px}
.sm .option-color > div{width:58px;height:58px;margin-left:40px}
.sm .option-color .color.selected{width:115px;height:115px}

/* Settings - LS */
#uiLS-container, #uiLS-container-sm, .ui-subtitles{background-color:#e7e8e8}
#uiLS-container, #uiLS-container-sm{height:497px}
#uiLS-container-sm{width:884px}
#uiLS-container-sm, #uiSubtitles-sm-container{margin:20px auto 0}
.pip-limit{position:relative;height:100%;box-sizing:border-box}
.label-pip-video{position:absolute;left:10px;font-weight:500;font-size:3.5rem;color:#aaa}
.label-pip-video.main{top:10px}

/* Settings - Audio */
#audio-settings .left-col{float:left}
#audio-settings .right-col{float:right}
#audio-settings .button{height:89px;line-height:89px;background-color:#c8c8c8;padding:0 25px 0 190px;background-repeat:no-repeat;background-position:66px center;background-size:15%;color:#fff;font-weight:500;cursor:pointer;box-shadow:0 0 9px #aaa;}
#audio-settings .button span{line-height:normal;display:inline-block;vertical-align:middle}
#ambiance-adaptation-btn{background-image:url(../img/bruit_ambiant.png)}
#dialogues-extended-btn{background-image:url(../img/renforcement_dialogue.png)}
#audio-settings .active{background-color:#82c174}
#audio-settings .button{transition:background-color .2s;}
#spatialisation-options-ctn, #audio-profils-options-ctn{margin-top:40px;}
#option-extended-comments{width: 405px;float: right;position: relative;}
#option-extended-comments .tooltip{background-color: #000;top: 35px;}
#option-extended-comments .min-value, #option-extended-comments .max-value{width: 15%;}
.slider-horizontal.extended-comments{width: 70%;}
#spatialisation-options, #audio-profils-options{width:100%}
.ui-selectmenu-button{background:#fff;border:#e7e8e8 2px solid;border-radius:0;box-sizing:border-box}
.ui-widget{font-family:inherit}
.ui-selectmenu-text{font-weight:500}
.ui-selectmenu-button span.ui-icon{background:url(../img/fleche_menu_deroulant.png) center center no-repeat}
#spatialisations-ctn{float: left;}
.spatialisation-control{margin-top:25px;float: left;}
.spatialisation-control .title{margin-bottom: 15px;}
.spatialisation-control .control-container{float:left}
.vertical-slider-container{width:125px;height:281px;background:url(../img/spatial__hauteur.png) no-repeat;background-size:contain;padding:46px 0 46px 14px;box-sizing:border-box;}
.vertical-slider-container .ui-slider-vertical{width:13px;height:100%;border:0 none;background:none transparent}
.vertical-slider-container .ui-widget-header{border-radius:0;background:none transparent}
.vertical-slider-container .ui-slider-handle{width:80px;height:33px;cursor:pointer;background:url(../img/spatial__hauteur_sel.png) no-repeat;margin-left:-15px;margin-bottom:-16px;border:0 none;background-size:contain;padding-left:36px;box-sizing:border-box;line-height:33px;text-decoration:none;font-weight:600;font-size:1.7rem}
.spatialisation-zone-ctn{background:url(../img/spatial_.png) no-repeat center center;background-size:contain;width:255px;height:255px;position:relative;margin-top:13px;margin-left:25px;border-radius:127.5px}
.spatialisation-zone{position:relative;width:50px;height:38px;background-repeat:no-repeat;background-size:contain;margin:-18px 0 0 -25px;cursor:pointer}
.spatialisation-zone.ad{background-image:url(../img/spatial_AD_.png)}
.spatialisation-zone.di{background-image:url(../img/spatial_AU_.png)}
.slider-horizontal .ui-slider-horizontal{height: 2px;cursor: pointer;box-shadow: 0 0 0 #000000;background: #C4C4C4;border-radius: 0;border: 0 solid #000000;display: inline-block;vertical-align: middle;width: 100%;}
.slider-horizontal .ui-slider-handle{box-shadow: 1px 1px 2px #808080;border: 1px solid #bababa;height: 32px;width: 10px;border-radius: 0;background: #FFF;cursor: pointer;margin-top: -11.5px;margin-left: 0;}
.slider-horizontal .ui-slider-range{background: none transparent;}
.ui-selectmenu-menu .overflow{max-height: 345px;max-width: 402px;font-size: 1em;}

/* RECHERCHE */
#search > div{display: none;}

/* Recherche - termes de recherche */
.search.terms-search #search{background-color: #5a5a5a}
#terms-search-container{height: 100%;}
#input-and-options-container, #back-and-filters-container{height: 75px;background-color: #4e4e4e;color: #fff;}
#input-container{position: relative;height: 100%;}
#input-container > input{float: left;height: 100%;border: 0 none;padding: 0;color: inherit;font-size: 100%;}
#terms-of-affination-buttons-container{display: none;height: 100%;}
#terms-of-affination-buttons-container, #back-and-filters-container{line-height: 55px;padding: 10px 0;box-sizing: border-box;}
.terms-of-affination-list #terms-of-affination-buttons-container{display: block;}
.terms-of-affination-list #input-container{display: none;}
#search .back-button{position: static;margin-left: 45px;display: inline-block}
#display-results-button{display: inline-block;padding: 0 15px;box-sizing: border-box;position: absolute;right: 45px;background-color: #5d5d5d;opacity: .5;transition-duration: 500ms;}
#display-results-button.on{opacity: 1;}
#terms-search{text-indent: 45px;background-color: #3f3f3f;}
#terms-search, #autocomplete{width: 696px;}
#input-container #validate-terms-button{width: 88px;border-left:1px solid #000;cursor: pointer;}
#validate-terms-button, #autocomplete{background-color: #383838;}
#autocomplete{position: absolute;top: 100%;box-shadow: 0 2px 4px rgba(0,0,0,0.5);}
#autocomplete .term{height: 50px;line-height: 50px;padding: 0 6px 0 45px;box-sizing: border-box;color: rgba(255,255,255,0.5)}
#autocomplete .term:hover{cursor: pointer;font-weight: 600;}
#autocomplete .term span{color: #fff}
#terms-of-affination-container{height: 575px;}
#search-message, #terms-of-affination{height: 100%;display: none;}
#search-message{line-height: 575px;text-align: center;color: #fff;display: block;}
#terms-of-affination{text-align: center;padding-top: 27px;box-sizing: border-box;}
#terms-of-affination .top{margin-bottom: 12px;}
#terms-of-affination .block{display: inline-block;border: 3px solid transparent;box-sizing: border-box;background-color: #000;color: #fff;text-align: left;margin-right: 13px;width: 400px;height: 253px;cursor: pointer;transition-duration: 500ms;overflow: hidden;box-shadow: 0 0 5px #000;}
#terms-of-affination .term-of-affination{padding: 10px 0 0 10px;}
#terms-of-affination .block:last-child{margin-right: 0;}
#terms-of-affination .top .block{vertical-align: bottom;}
#terms-of-affination .bottom .block{vertical-align: top;}
#terms-of-affination .block.sel, #terms-of-affination .block:hover{border-color: #14a700;}
#terms-of-affination .block span{background-color: #000;}
#methods-container{float: left;height: 100%;text-align: center;line-height: 75px;width: 496px;}
.method-ctn{display: inline-block;text-align: left;margin-right: 50px;}
.method-ctn input{display: inline-block;margin-top: -2px;margin-right: 10px;zoom: 150%;}
.method-ctn input, .method-ctn label{cursor: pointer;}

/* Recherche - résultats complets */
#back-and-filters-container{display: block;position: relative;position: relative;}
#full-result{margin: 45px 45px 0 45px;overflow-y: auto;height: 530px;}
.search-result{height: 160px;line-height: 160px;padding: 15px 0;box-sizing: border-box;}
.search-result:hover{background-color: #c8c8c8;transition-duration: 500ms;transition-property: background-color;}
.search-result > div, .search-result .thumb{float: left;}
.search-result .thumb{width: 232px;height: 100%;line-height: 20px;}
.search-result .item-infos{margin-left: 16px;width: 925px;height: 100%;overflow: hidden;}
.search-result .item-infos .title{font-weight: 600;text-transform: uppercase;}
.search-result .item-infos .subtitle{text-transform: uppercase;font-size: 0.9em;font-weight: 300;}
.compatibilities-list{height: 20px;margin: 2px 0;}
.search-result .compatibility{margin-right: 9px;display: none;}
.search-result .item-infos .synopsis{font-size: 0.85em;margin-top: 5px;line-height: 1.3;}
#filters-container{display: inline-block;position: absolute;right: 45px;}
#filters-container > div{float: left;margin-left: 50px;}
#filters-container .btn > div{float: none;display: inline-block;vertical-align: middle;}
#filters-container .compatibility{height: 40px;width: 55px;}
#filter-values-list{display: none;top: 75px;}
#filter-values-list.on{display: block;}
#full-results-message{height: 100%;line-height: 530px;color: #000;text-align: center;}
#filter-values-list .btn{background-color:#4e4e4e;border-top: #fff solid 1px;}

/* FOCUS */
body.sm :focus{border: 1px solid #000 !important;}
body.sm #playerUI :focus{border-color: #fff !important;}
body.sm #playerUI .optionDropDownMenuButton:focus{border-color: orange !important}